.container {
    height: 100vh;
}

.theme-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.theme-radio-button {
    margin: 5px;
}

.router-container {
    margin: 1rem;
}

.sidenav-container {
    padding: 1rem;
}

.spacer {
    flex: 1 1 auto;
}