:root {
    --primary: red;
    --primary-contrast: white;

    --primary-darker: green;
    --primary-darker-contrast: brown;

    --accent: yellow;
    --accent-contrast: pink;

    --warn: blue;
    --warn-contrast: grey;
}
